<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.AdminDAO">
	<select id="listNewMember" resultType="com.spring.main.dto.MemberDTO">
		SELECT id FROM generalmember WHERE reg_date LIKE2 TO_DATE(#{param1}, 'yy/mm/dd')
	</select>
	
	<select id="cntNewMember" resultType="int">
		SELECT COUNT(id) cnt FROM generalmember WHERE reg_date LIKE2 TO_DATE(#{param1}, 'yy/mm/dd')
	</select>
	
	<select id="cntNewAdmin" resultType="int">
		SELECT COUNT(adminId) cnt FROM admin
	</select>
	
	<select id="listAdmin" resultType="com.spring.main.dto.AdminDTO">
		SELECT adminid FROM admin
	</select>
	
	<select id="reportedBrdCnt" resultType="int">
		SELECT COUNT(repidx) FROM reports WHERE repctgidx = 11 OR repctgidx = 12 OR repctgidx = 13 OR repctgidx = 14
	</select>
	
	<select id="reportedBrdList" resultType="hashMap">
		SELECT b.rnum, b.subject, r.repctgidx FROM 
			(SELECT ROW_NUMBER() OVER(ORDER BY boardidx DESC) AS rnum, boardidx, subject FROM board) b, reports r 
			WHERE r.boardidx = b.boardidx AND b.rnum BETWEEN 1 AND 3
	</select>
	
	<select id="reportedCommCnt" resultType="int">
		SELECT COUNT(commidx) FROM reports WHERE repctgidx = 11 OR repctgidx = 12 OR repctgidx = 13 OR repctgidx = 14
	</select>
	
	<select id="reportedCommList" resultType="hashMap">
		SELECT c.rnum, c.comments, r.repctgidx 
		    FROM (SELECT ROW_NUMBER() OVER(ORDER BY commidx DESC) AS rnum, commidx, comments FROM comments) c,reports r 
		    WHERE r.commidx = c.commidx AND c.rnum BETWEEN 1 AND 3
	</select>
</mapper>