<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.AdminDAO">
	<select id="listNewMember" resultType="com.spring.main.dto.MemberDTO">
		SELECT id FROM generalmember WHERE reg_date LIKE2 TO_DATE(#{param1}, 'yy/mm/dd')
	</select>
	<select id="cntNewMember" resultType="int">
		SELECT COUNT(id) cnt FROM generalmember WHERE reg_date LIKE2 TO_DATE(#{param1}, 'yy/mm/dd')
	</select>
</mapper>