<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.GroupDAO">
<insert id="groupWrite" 
		useGeneratedKeys="true"
		keyProperty="gpIdx"
		keyColumn="gpIdx"
		parameterType="group">
		INSERT INTO groupPurchase(GPIDX, SUBJECT, CONTENT, CHATURL,PROGIDX, ID, MAXUSER, CURRUSER, DEADLINE, GPCTGIDX) 
		VALUES(groupPurchase_seq.NEXTVAL, #{subject}, #{content}, #{chatURL},#{progIdx},#{id},#{maxUser},#{currUser},#{deadline},#{gpCtgIdx} )
	</insert>
	
	<select id="groupDetail" resultType="group">
	 SELECT GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date FROM groupPurchase WHERE GPIDX=#{gpIdx}
	</select>
</mapper>