<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.GroupDAO">
	<insert id="groupWrite" 
		useGeneratedKeys="true"
		keyProperty="gpIdx"
		keyColumn="gpIdx"
		parameterType="group">
		INSERT INTO groupPurchase(GPIDX, SUBJECT, CONTENT, CHATURL,PROGIDX, ID, MAXUSER, CURRUSER, DEADLINE, GPCTGIDX) 
		VALUES(groupPurchase_seq.NEXTVAL, #{subject}, #{content}, #{chatURL},#{progIdx},#{id},#{maxUser},#{currUser},#{deadline},#{gpCtgIdx} )
	</insert>
	
	<select id="groupDetail" resultType="group">
	 SELECT GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date FROM groupPurchase WHERE GPIDX=#{gpIdx}
	</select>
	
	<update id="groupUpHit" >
		UPDATE groupPurchase SET gHit=gHit+1 WHERE gpIdx=#{gpIdx}
	</update>
	
	<!-- 카테고리  -->
	<select id="groupCtg" resultType="String">
		SELECT category FROM gpCtg WHERE gpCtgIdx=#{gpCtgIdx}
	</select>
	
	<!-- 진행상황 -->
	<select id="gpProgress" resultType="String">
		SELECT progress FROM gpProgress WHERE progIdx=#{progIdx}
	</select>
	
	<insert id="groupWriteFile">
		INSERT INTO photos (PHOTOIDX, NEWFILENAME, ORIFILENAME, GPIDX) 
		VALUES (photos_seq.NEXTVAL, #{param1}, #{param2}, #{param3})
	</insert>
	
	<select id="groupList"  parameterType="int" resultType="group">
			
		SELECT GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date,gHit, rnum ,blind
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY GPIDX DESC) AS rnum,GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date,gHit,blind 
		FROM groupPurchase

		WHERE blind='n'
		<if test="param3 == 1">
		 AND GPCTGIDX=1 
		</if>
		<if test="param3 == 2">
		 AND GPCTGIDX=2 
		</if>
		)

		WHERE rnum BETWEEN #{param1} AND  #{param2}
	</select>
	
	<select id="groupAllCount" parameterType="int" resultType="int">
		SELECT COUNT(GPCTGIDX) FROM groupPurchase
		WHERE blind='n'
		<if test="value == 1">
		 AND GPCTGIDX=1 
		</if>
		<if test="value == 2">
		 AND GPCTGIDX=2 
		</if>
		
	</select>
	
	
	<select id="groupGetFileName" resultType="String">
		SELECT newFileName FROM photos WHERE gpIdx=#{gpIdx}
	</select>
	
	<delete id="groupPhotoDel">
		DELETE FROM photos WHERE gpIdx=#{gpIdx}
	</delete>
	
	<delete id="groupDel">
		UPDATE groupPurchase SET blind='y' WHERE gpIdx=#{gpIdx}
	</delete>
	
	<!-- <select id="groupSearch" parameterType="hashMap" resultType="group">
		SELECT * FROM groupPurchase 
		<where>
			<if test="opt == 'subject' and !keyword.equals('')">subject LIKE '%'||#{keyword}||'%' </if>
			<if test="opt == 'content' and !keyword.equals('')">content LIKE '%'||#{keyword}||'%' </if>
			<if test="opt == 'id' and !keyword.equals('')"> id LIKE '%'||#{keyword}||'%' </if>
		</where>
	</select> -->
	
	<select id="groupSearchList"  parameterType="String" resultType="group">
			
		SELECT GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date,gHit, rnum ,blind
		FROM (SELECT ROW_NUMBER() OVER (ORDER BY GPIDX DESC) AS rnum,GPIDX,SUBJECT,CONTENT,CHATURL,PROGIDX,ID,MAXUSER,CURRUSER,DEADLINE,GPCTGIDX,reg_date,gHit,blind 
		FROM groupPurchase

		WHERE blind='n'
			<if test="param3.equals('all') and !param4.equals('')"> AND  subject LIKE '%'||#{param4}||'%' OR content LIKE '%'||#{param4}||'%' </if>
			<if test="param3.equals('subject') and !param4.equals('')"> AND subject LIKE '%'||#{param4}||'%' </if>
			<if test="param3.equals('content') and !param4.equals('')">AND content LIKE '%'||#{param4}||'%' </if>
			<if test="param3.equals('id') and !param4.equals('')">AND  id LIKE '%'||#{param4}||'%' </if>
		)

		WHERE rnum BETWEEN #{param1} AND  #{param2}
	</select>
	
	
	<!-- 검색옵션 페이징 카운트 -->
	<select id="groupSearchCount" parameterType="String" resultType="int">
		SELECT COUNT(GPCTGIDX) FROM groupPurchase
		<where>
		<if test="param1.equals('all')">
		  subject LIKE '%'||#{param2}||'%' OR content LIKE '%'||#{param2}||'%'
		</if>
		<if test="param1.equals('subject')">
		  subject LIKE '%'||#{param2}||'%'
		</if>
		<if test="param1.equals('content')">
		 content LIKE '%'||#{param2}||'%' 
		</if>
		<if test="param1.equals('id')">
		 id LIKE '%'||#{param2}||'%' 
		</if>
		</where>
	</select>
	
	
	<update id= "groupUpdate" parameterType="group">
		UPDATE  groupPurchase SET SUBJECT=#{subject}, CONTENT=#{content}, CHATURL=#{chatURL},PROGIDX=#{progIdx},MAXUSER=#{maxUser},DEADLINE=#{deadline},GPCTGIDX=#{gpCtgIdx}
		WHERE gpIdx=#{gpIdx}
	</update>
	
	<update id="groupUpdateFile">
		UPDATE photos  
		SET PHOTOIDX=photos_seq.NEXTVAL, NEWFILENAME=#{param1}, ORIFILENAME =#{param2}  WHERE gpIdx=#{param3}
	</update>
	
	<select id="applyCheck" resultType="String">
		SELECT id FROM applicants WHERE gpIdx=#{param1} AND id=#{param2}
	</select>
	
	<insert id="applyGroup">
		INSERT INTO applicants (gpIdx,id) VALUES(#{param1},#{param2})
	</insert>
	
	<update id="currUserUp">
		 UPDATE groupPurchase SET currUser=currUser+1 WHERE gpIdx=#{param1}
	</update>
	
	<delete id="cancelGroup">
		DELETE FROM applicants WHERE gpIdx=#{param1} AND id= #{param2}
	</delete>
	
	<update id="currUserDown">
		 UPDATE groupPurchase SET currUser=currUser-1 WHERE gpIdx=#{param1}
	</update>

	
</mapper>