<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MemberDAO">
	<select id="login" resultType="String" parameterType="String">
		SELECT pw FROM generalmember WHERE id = #{id}
	</select>
	
	<select id="overlay" resultType="int" parameterType="hashmap">
		SELECT COUNT(id) FROM generalmember WHERE id = #{id}
	</select>
	
	<insert id="join" parameterType="hashmap">
		INSERT INTO generalmember (id,pw,name,gender,phone,email)VALUES(#{id},#{pw},#{name},#{gender},#{phone},#{email})
	</insert>
	

	<select id="idFind" resultType="String" parameterType="hashmap">
		SELECT id FROM generalmember WHERE name=#{name} AND email=#{email}
	</select>
	
	<select id="comIdFind" resultType="String" parameterType="hashmap">
		SELECT comId FROM companymember WHERE  license =#{business_number} AND phone = #{phone}
	</select>
	
	<select id="pwFind" resultType="com.spring.main.dto.MemberDTO" parameterType="Hashmap">
		SELECT id , pw FROM generalmember WHERE name=#{name} AND id=#{id} AND email=#{email}
	</select>
	
	<select id="comPwFind" resultType="com.spring.main.dto.CompanyMemberDTO" parameterType="hashmap">
		SELECT comId , pw FROM companymember WHERE license = #{business_number} AND comId=#{id} AND phone=#{phone}
	</select>
	
	
	<update id="gradeCntBoard">
		UPDATE generalMember
		SET cntBoard=cntBoard+1 WHERE id=#{param1}
	</update>

	<update id="gradeCntComm">
		UPDATE generalMember
		SET cntComm=cntComm+1 WHERE id=#{param1}
	</update> 

</mapper>