<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MyDAO">

<select id="login" resultType="String" parameterType="String">
	SELECT pw FROM generalmember WHERE id = #{loginId}
</select>


<select id="myprofile" resultType="com.spring.main.dto.MyDTO" parameterType="String">
	SELECT * FROM generalmember WHERE id = #{loginId}
</select>

 


<select id="list" resultType="com.spring.main.dto.MyDTO">
	SELECT * FROM board
</select>

</mapper>