<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MyDAO">

<select id="login" resultType="String" parameterType="String">
	SELECT pw FROM generalmember WHERE id = #{loginId}
</select>


<select id="myprofile" resultType="com.spring.main.dto.MyDTO" parameterType="String">
	SELECT * FROM generalmember WHERE id = #{loginId}
</select>

 


<select id="list" resultType="com.spring.main.dto.MyDTO">
	SELECT * FROM board
</select>

<select id="receiveAllCount" resultType="int">
	SELECT COUNT()
</select>

<select id="receiverAllCount" resultType="int" parameterType="String">
	SELECT COUNT(msgidx) FROM msg WHERE receiver = #{param1}
</select>

<select id="receiveList" resultType="com.spring.main.dto.MsgDTO">
SELECT msgidx , sender , receiver , content , reg_date, rnum 
    FROM (SELECT msgidx , sender , receiver , reg_date, content,
    ROW_NUMBER() OVER(ORDER BY msgidx DESC)  AS rnum FROM msg  WHERE receiver=#{param3})
    WHERE rnum BETWEEN #{param1} AND #{param2}
</select>

<select id="all" resultType="int">
	SELECT COUNT(msgidx) FROM msg
</select>
</mapper>