<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.MyDAO">


 


<select id="list" resultType="com.spring.main.dto.MyDTO">
	SELECT * FROM board
</select>

<select id="receiveAllCount" resultType="int">
	SELECT COUNT()
</select>

<select id="">
SELECT msgidx , sender , receiver , content , reg_date, rnum 
    FROM (SELECT msgidx , sender , receiver , reg_date, content,
    ROW_NUMBER() OVER(ORDER BY msgidx DESC) AS rnum FROM msg )
    WHERE rnum BETWEEN #{page} AND #{pagePerCnt};
</select>
</mapper>