<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="css/loginCSS/login.css">
    <style>
    </style>
</head>
<body>
    <div class="loginForm">
        <form action="login" method="POST">
           <div class="logo-area">
               <a href="main">
                   <img src="./css/loginCSS/logi.png">
               </a>
           </div>
            <div class="input-area">
               <input id="id"type="text" name="id" autocomplete="off" required/>
               <label for="id">USER ID</label>
            </div>
            <div class="input-area">
                <input id="pw" type="password" name="pw" autocomplete="off" required/>
                <label for="pw">PASSWORD</label>
            </div>
            <div class="btn-area">
                 <button>LONIN</button>
            </div>
           <div  class="module-area">
               <input type="radio" name="mode" value="member" checked="checked"/>일반회원
               <input type="radio" name="mode" value="company"/>업체회원
           </div>
        </form>
        <div class="link-area">
            <a href="regist">일반 회원가입</a>   &nbsp; / &nbsp;
            <a href="cRegist">업체 회원가입</a> &nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="findId">아이디 찾기</a>  &nbsp; / &nbsp;
            <a href="findPw">비밀번호 찾기</a>
        </div>
        <div class="admin">
            <a href="admin">관리자 로그인</a>
        </div>
    </div>
</body>
</html>