body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.title{
    color: #166cea;
   justify-content: flex-start;
   margin-left: 50px;
   margin-bottom: 50px;
}
.input-area{
    width: 550px;
    position: relative;
    padding: 10px;
    font-size: 13px;
    text-align: center;
}
.input-area input{
    height: 20px;
    padding: 3px;
    border: 2px solid #166eca ;
    border-radius: 6px;
}
.input-area label{
    position: absolute;
    left: 5px;
    width: 170px;
    padding-top: 3px;
    text-align: center;
   
}
.idChk , .bn_lookUp , .addr_lookUp{
    position: absolute;
    left: 380px;
    top: 6px;
}
.cIdChk{
    position: absolute;
    left: 430px;
    top: 6px;
}
.idChk button , .cIdChk button , .bn_lookUp button , .addr_lookUp button{
    background-color: #166cea;
    color: white;
    border: none;
    padding: 8px 8px;
}
.input-area input::placeholder{
    font-size : 3px;
}
.join{
    text-align: center;
    
}
.join button{
    background-color: #166cea;
    color: white;
    border: none;
    padding: 8px 8px;
    text-align: center;
    width: 60%;
    margin-top: 20px;
    font-size: 15px;
}
#gender{
    width: 12px;
}
#pwChkMsg{
    display: inline;
    position: absolute;
    margin-left: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;             
    margin: 0;         
}
#sample6_postcode{
    margin-bottom: 100px;
}
#sample6_address{
    position: absolute;
    left: 195px;
    top: 50px;
    margin-bottom: 50px;
    width: 300px;
}
#sample6_detailAddress{
    position: absolute;
    left: 195px;
    top: 90px;
    margin-bottom: 50px;
    width: 150px;
}
#sample6_extraAddress{
    position: absolute;
    left: 360px;
    top: 90px;
    margin-bottom: 50px;
    width: 150px;
}